:root{
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.App {
  text-align: center;
}
.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-color {
  background-color: #4e5051 ;
  }

